body {
  background-image: linear-gradient(blue , black);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

h6 {
  font-family: 'Francois One', sans-serif;
  color: white;
}

#navbar {
  padding: 0px 16px 0px 0px;
}

.navbar {
  height: 100vh;
}

#log_in_modal {
  align-items: center;
}

#song_item {
  padding: 5px;
  background-color: white;
}

.content {
  color: aliceblue;
}

#up_vote_btn {
  background-color: green;
}

#down_vote_btn {
  background-color: red;
}

